.cover {
  height: 100%;
  overflow: hidden;
}

.main-container {
    background-image: url(../img/bg_brains.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

h1.first-header {
  color: white;
}

.back-block {
  background-color: rgba(0, 0, 0, 0.5)
}

.btn-outline-white {
  color: #fff;
  background-image: none;
  background-color: transparent;
  border-color: #fff
}

.btn-outline-white:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
  cursor: pointer;
}

.jamm_logo{
    width: 15%;
    height: auto;
    object-fit: contain;
    user-select: none;
}

section {
    min-height: calc(100vh - 150px);
}

.center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.question {
  user-select: none;
}

@media screen and (max-width: 376px) {
  .question {
    font-size: 20px;
  }
}
